<nav class="cyan darken-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img style="width:50px; height:50px; margin-top:5px;" src="images/robot-logo.png"/> Robot Factory Inc.</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/robots">All Robots</a></li>
        <li><a href="/addrobots">Add Robots</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/robots">All Robots</a></li>
        <li><a href="/addrobots">Add Robots</a></li>
      </ul>
      <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>